<div class="home">
	<h1>Get Wiggie</h1>
	<article>
		<h3>Our products</h3>
		<p>
			Wig products with quality.
		</p>
		<div class="gallery">
			<a target="_blank" href="img/colour_mix.jpg">
			  <img src="img/colour_mix.jpg" alt="Mpho" width="300" height="200">
			</a>
			<div class="desc">Mpho being Mpho</div>
		  </div>
		  
		  <div class="gallery">
			<a target="_blank" href="img/american_wig.jpeg">
			  <img src="img/american_wig.jpeg" alt="Forest" width="300" height="200">
			</a>
			<div class="desc">The American version of the famous brand of wigs</div>
		  </div>
		  
		  <div class="gallery">
			<a target="_blank" href="img/human_hair.jpeg">
			  <img src="img/human_hair.jpeg" alt="Northern Lights" width="300" height="200">
			</a>
			<div class="desc">A natural look for a natural woman</div>
		  </div>
	</article>
</div>