.home {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.home > h1 {
    text-align: center;
    color: #029aff;
    font-size: 3em;
}
article > p {
    color: #029aff;
    font: 1em Georgia, serif;
}
strong {
    color: #d3731a;
}
.logo > img {
    width: 30%;
    height: 30%;
}
.logo {
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}